.stApp > header {
    background-color: transparent !important;
}

.stApp {
    background-image: url('./data/bg2.png') !important;
    background-position: 0 0;
    background-size: cover; /* or contain, depending on your needs */
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    top: 0;
    left: 0;
}
